.jumbo-text {
  margin-left: 165px;
  margin-right: 165px;
  line-height: 34px;
  color: white;
}
.jumbotron {
  background-image: url("../images/page1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
}
.title {
  font-size: 65px;
  margin-top: 62px;
}
.find {
  font-size: 15px;
  margin-top: 10px;
}
.subheading {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 200;
}
.quoteButton {
  margin-top: 20px;
  border: 2px solid white;
  background-color: transparent;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
}
.lowerMenu {
  margin-left: 165px;
  margin-right: 165px;
  color: white;
  font-size: 25px;
  margin-top: 250px;
}
.lowerMenu p {
  padding-left: 50px;
  padding-right: 50px;
}

.navigacija {
  background-color: #202a36;
  text-decoration: none;
}
.officesDropButton,
.languageDropButton {
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
}
.searchBar {
  background-color: transparent;
  border-color: transparent;
}
.verticalLineLeft {
  border-left: 4px solid rgb(67, 203, 221);
}
.valuesAndOverview {
  border-bottom: 6px solid rgb(67, 203, 221);
  padding-bottom: 10px;
  font-size: 32pt;
  text-align: center;
  font-weight: bold;
}
.blueText {
  color: rgb(67, 203, 221);
}
.card {
  width: 15rem;
}
.cardHeader {
  height: 120px;
  background-color: rgb(67, 203, 221);
}
.cardTitle {
  color: white;
  font-weight: bold;
  padding-top: 20px;
}
.topPadding20px {
  padding-top: 20px;
}
.cardNumber {
  border-radius: 50px;
  background-color: white;
  color: rgb(67, 203, 221);
  text-align: center;
}
.cardTextDiv {
  background-color: white;
  height: 200px;
}
.cardText {
  padding: 20px 20px;
  height: 200px;
}
.blurredText {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.blurredTextDiv {
  position: relative;
  margin: 0;
  padding-left: 3px;
  padding-right: 0px;
  width: 100%;
}
.widthAndHeight100 {
  width: 100%;
  height: 100%;
}
.readMoreButtonDiv {
  background-color: #f5f5f0;
  bottom: 0px;
  position: absolute;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 0px;
}
.readMoreButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  color: gray;
}
.phaseButton {
  margin-top: 20px;
  border: 2px solid #45b6fe;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  border-spacing: 12;
  width: 200px;
  color: #45b6fe !important;
  font-weight: 900;
}
.slika {
  width: 100%;
  height: 330px;
  text-decoration: none;
  list-style-type: none;
}
.pitanje {
  font-size: 95;
}
.career {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.venturePlans {
  margin-top: 20px;
  font-weight: 500;
  font-size: 65px; 
}
.pozadina {
  background-color: #CFEEFA;
  text-decoration: none;
}

.body {
  background: #eee
}

.subscription {
  border-radius: 8px;
  background: blue;
  color: #fff
}

.email-input {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  background: white;
}

.subscription span {
  color: rgb(220, 219, 219)
}
.subscribe {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 50px;
}
.slikaKnjige {
  height: 330px;
  text-decoration: none;
  list-style-type: none;
  margin-right: 65px;
  margin-top: 25px;

}
.subscribeText {
  margin-left: 50px;

}

.jumbotron2 {
  background-image: url("../images/page1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.logoSlika {

  text-decoration: none;
  list-style-type: none;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid ;

  margin-left: 40px;
      object-fit: cover;

}
.heading2 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}
.subheading2 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  color: gray;
}
.row12 {
 justify-content: center;
 margin-left:  0px;
}
.circle {
  border-radius: 50%;
  height: 8em;
  object-fit: fill;
  width: 8em;
  border: 2px solid;  
  margin-left: 60px;
}
.avatarCorner {
  position: absolute;
    top: -30px;
    left: -40px;
    width: 100px;
}
.consultationButton {
  background-color: rgb(67, 203, 221);
  width: 400px;
  height: 75px;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  font-size: larger;
}
.width100MarginLeft50 {
  width: 100%;
  margin-left: 50px;
}
.clientCard {
  width: 25rem;
  height: 300px;
}
.cardDiv {
  position: relative; 
  height: 300px;
}
.cardText2 {
  padding-left: 45px;
  padding-right: 12px; 
  height:100%;
}
.cardTextDiv2 {
  bottom: 0;
  position: absolute;
}
.scyscraperJumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/scyscraper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
}
.readyToTalkHeader {
  color: white;
  font-size: 60px;
  margin-top: 80px;
  margin-left: 160px;
  font-weight: bold;
  position: absolute;
}
.talkFor {
  color: white;
  font-size: 40px;
  margin-top: 360px;
  margin-left: 160px;
  position: absolute;
}
.selectAServiceButton {
  margin-top: 450px;
  border: 2px solid white;
  background-color: transparent;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  margin-left: 160px;
  width: 600px;
  height: 100px;
  font-size: 30px;
  text-align: left;
  right: 0px;
  white-space: pre;
}
.capitalMarkets {
  color: white;
  font-size: 40px;
  margin-top: 150px;
  margin-left: 400px;
  position: absolute;
}
.fullNameInput {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  background: white;
  width: 550px;
  height: 60px;
}
.submitForm {
  margin-top: 250px;
  margin-left: 550px;
}
.submitButton {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  width: 550px;
  height: 60px;
  font-size: 20px;
  text-align: center;
}
.vertical-menu {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  margin-left: 340px;
}

.vertical-menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #EDEDED;
}

.vertical-menu a.active {
  background-color: blue;
  color: white;
}
.colVideo {
  margin-left:50px;
}
.sectorsImageMain {
  height: 600px; 
  background-image: url('../images/sectors.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.sectorsNumber {
  color: rgb(67, 203, 221);
  font-size: 45px; 
  margin-right: 10px;
}
.sectorsParagraph {
  font-size: 20px; 
  text-align: center;
  margin-top: 18px;
}
.sectorsImage {
  width: 30%; 
  height: auto; 
  display: block; 
  margin: auto
}
.insightsPosition {
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}
.customcol {
  color: white;
  margin-left:50px;

}
.btn {
  background-color: #00cff4;
  font-size: 0.78rem;
  border: 0px
}
.subscribe2 {
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-left: 70px;
  margin-right: 70px;

}